
.bg{
    background-color: #1DE592;
    width: 450px;
    color: rgb(0, 0, 0);
    margin: 70px auto;
    padding: 120px 46px;
    border-radius: 16px;
}
.btn{
    background-color: #fff;
    border: none;
    padding: 16px 30px;
    font-size: 16px;
    border-radius: 60px;
}


.login-title{
    font-size: 48px;
    margin-bottom: 20;
}
.login-desc{
    margin-top: 10;
    font-size: 12px;
    margin-bottom: 24px;
}

.log_tit_2
{
    font size=16px;
    
}

.box{
    border: 1px solid #d3d3d3;
    width: 350px;
    padding:  20px;
    margin: 60px auto;
    border-radius: 14px;
}
.circle {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block; /* Changes display to inline-block */
    margin: 0 35px; /* Adds space between the circles */
    vertical-align: middle; /* Aligns circles vertically if needed */
}
.divider {
    border: none; /* Removes the default border style */
    height:1px; /* Sets the thickness of the line */
    background-color: #d3d3d3; /* Sets the color of the line */
    margin: 20px auto; /* Adds space above and below the line */
    width: 100%; /* Makes sure the line spans the full width of the container */
}


.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire circle */
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.title{
    color: red;
}
.center{
    text-align: center;
}

.box1{
    border: 1px solid #d3d3d3;
    width: 350px;
    
    margin: 60px auto;
    border-radius: 14px;
}
.box-img{
    width: 100%;
    border-radius: 0px;
    margin-bottom: 10px;
}
.btn1{
    background-color: #fffdfd;
    border-color: #d6d5d5;
    margin: 10px 5px;
    padding: 16px 30px;
    font-size: 16px;
    
    border-radius: 10px;
}



.login{
    text-align: center;
    width: 340px;
    margin: 160px auto;
    font-size: 16px;
    
}
.input{
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 16px;
}
.btn2{
    background-color: #000000;
    border: none;
    padding: 16px 30px;
    font-size: 16px;
    border-radius: 60px;
}
.underline {
    color: #080808; /* Change text color */
    text-decoration: underline;
    text-decoration-color: #080808; /* Change underline color */
    text-decoration-thickness: 2px; /* Optional: change underline thickness */
}



.logo{
    height: 80px;
    margin-bottom: 5px;
}
